<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

<h1>WEB 250 Module 7</h1>
<p>Upload file named 'example.csv'</p>

<nav>
    <a href="/lesson7">Lesson 7 - Storm Data</a>
</nav>


</body>
</html>